<div class="mini-footer">
  <div class="row">
    <div class="medium-3 large-4 column">
      <a rel="license" class="cc-badge" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
        <img alt="Creative Commons License" src="/assets/decidim/cc-badge-7df25c24ce76b70a8e6a8918d35bd19a4e7c5676256370997d22a9c7039dab0c.png">
      </a>
      Web creada con <a target="_blank" href="https://github.com/decidim/decidim">software libre</a>.
    </div>
    <div class="medium-3 large-2 column">
      <div class="decidim-logo">
        <a rel="decidim" href="https://decidim.org/" target="_blank">
          <%= image_tag("decidim/decidim-logo.svg", alt: "Decidim Logo" ) %>
        </a>
      </div>
    </div>
  </div>
</div>
